.InputTablesAndSeats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.TablesAndSeats {
  width: 60%;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
}

.table-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table-item:last-child {
  border-bottom: none;
}

.saveAndDelete {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
