@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEBUGGING */
*:hover {
  outline: 1px blue solid;
}

:root {
  --background: #FEF7FF;
  --foreground: #010E0D;
  --color1: #EAEAEA;
  --color2: #FF2E63;
  --color3: #252A34;
  --color4: #08D9D6;
  --border-color: #eaeaea;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #121212;
    --background: #e0e0e0;
    --border-color: #333333;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
h1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 1rem;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--color2);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* button:hover {
  background-color: var(--color2);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

@media (min-width: 450px) {
  .container-horizontal {
    flex-direction: row;
  }
}

.top-left-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  width: 120px; 
  height: 120px;
}

.loginNav {
  position: absolute;
  top: 140px; /* Adjust to be below the logo */
  left: 10px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start (left) */
  padding: 10px 20px;
}

.table {
  position: relative;
  width: 40vw;
}

.findAndCancel{
  position: absolute;
  top: 100px;
  right: 50px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 10px 20px;
}
